body {
    text-align: center;
}

h1 {
    font-family: "Comic Sans MS", cursive, sans-serif; 
    margin-bottom: auto;
}

h4 {
    margin: auto;
}

div.header {
    display: block;
}

div.instruction, img p {
    display: inline;
}

i.fa {
    font-size: 24px;
    margin-right: 2em;
}

div#gameOver {
    visibility: hidden;
    position: relative;
    bottom: 380px;
}

p.endParagraph {
    color: deeppink;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 32px;
    font-weight: 800;
}

p.winParagraph {
    color: deeppink;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 27px;
    font-weight: 800;
    margin: auto;
}

div#gameWin {
    visibility: hidden;
    position: relative;
    bottom: 580px;
}
/*
p#gameWinParagraph {
    color: deeppink;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 32px;
    font-weight: 800;
}
*/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
}

.intro {
    background-color: white;
    color: darkgoldenrod;
    padding: 5px 5px;
    margin-right: 2em;
}

.button:hover {
    background-color: darkorange;
}
.emphasized {
    font-style: italic;
}